// Margin max-width 
$container-width: 1270px;

// Template Color
$bg-color:  #E5E5E5;
$dark: #282B31;
$grey: #A6ADB1;
$grey-dark: #DDE1E8;
$secondary: #E0E0EC; 
$danger: #E24444;
$primary: #4447E2;
$success: #50D86A;
$light: #FFFFFF;

