/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .profile-info { 
        padding: 0 20px;
    }
    .menu-area nav ul li a{
        margin: 0 10px;
    }
    .mega-menu ul { 
        width: 150px; 
    }







}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .profile-block {
        display: flex;
    } 
    .profile-block .avaters {
        width: 50%;
        margin-right: 40px;
    }
    
    .social h5 {
        margin-top: 0 !important;
    }
    
    .social {
        width: 45%;
    }
    .profile-info {
        width: 100%;
        padding: 0 0px;
    }
    .profile-info, .statistic {
        margin-top: 50px;
    }
    table tbody tr td:nth-child(4) {
        width: 260px;
        padding-left: 0px;
        padding-right: 45px;
    }

    .hero-area {
        margin-top: 30px;
    }
    .hero-item { 
        height: 400px; 
    }
    .hr-contents { 
        margin-top: 0;
    }
    .inf-btns button span {
        padding: 10px 10px;
        margin-right: 4px;
    }
    .inf-btns button.extmenu:after { 
        left: 17px; 
    }
    .binfo .b-nms h4 { 
        font-size: 26px; 
    }
    .binfo .b-nms {
        width: 45%; 
        padding: 30px 22px;
    }
    .binfo .act-infos {
        width: 30%; 
        padding-left: 30px;
    }
    .b-aboutinfo .abinfo-wrp {
        width: 65%; 
    }
    .b-aboutinfo ul {
        width: 30%; 
    }
    .b-aboutinfo .abinfo-wrp:after { 
        width: 250px; 
    }



}

 
/* small screen :320px. */
@media (max-width: 767px) {
    body{
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 50px;
    }
    .section-adding {
        padding: 50px 0;
    } 
    .profile-block {
        display: flex;
    } 
    .profile-block .avaters {
        width: 50%;
        padding: 10px;
        margin-right: 10px;
    } 
    .social h5 {
        margin-top: 0 !important;
    } 
    .social {
        width: 45%;
    }
    .profile-info {
        width: 100%;
        padding: 0 0px;
    }
    .profile-info, .statistic {
        margin-top: 50px;
    }
    h2.section-title-text {
        font-size: 22px;
        line-height: 20px; 
    }
    .avaters img { 
        margin-bottom: 10px;
    }
    .avaters button {
        border: 2px solid #DDE1E8; 
        border-radius: 10px; 
        font-size: 12px; 
        padding: 5px 3px; 
    }
    .list-item a { 
        padding: 8px;
        margin-bottom: 10px;
        padding-right: 10px;
    }
    .list-item a img {
        margin-right: 4px;
        width: 25px;
    }
    .list-item a span svg {
        margin-left:2px;
        width: 15px;
    }
    .statistic ul li h4 { 
        font-size: 18px; 
    }
    .statistic ul li h4 span {
        font-size: 14px; 
    }
    .statistic ul li span.icon {
        min-width: 45px;
        max-width: 45px;
        height: 45px; 
        border-radius: 6px;
        font-size: 14px; 
    } 
    .hnumbs {
        padding: 5px;
        padding-right: 15px;
        margin-right: 0px;
        border-radius: 10px;
    }
    .hnumbs button {
        height: 30px;
        width: 30px;  
        margin-right: 10px;
    }
    .hnumbs span {
        font-size: 14px; 
    }
    .statistic ul li { 
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px; 
    }
    .profile-info form label input { 
        border-radius: 10px;
        height: 45px; 
        padding: 15px 20px;
        font-size: 14px; 
        margin-top: 10px;
    }
    .ckb label .list-item{
        width: 100%;
    }
    .ckb {
        width: 100%;
    }
    
    .ckb label {
        width: 100%;
    }
    .task-history-area button.theme-btn {
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
 

    
    .hero-area {
        margin-top: 30px;
    }
    .hero-item { 
        height: 240px; 
    }
    .hr-contents {
        margin-top: 0;
        width: 100%;
        padding: 0 20px;
    }
    .inf-btns button span {
        padding: 10px 10px;
        margin-right: 4px;
    }
    .inf-btns button.extmenu:after { 
        left: 17px; 
    }
    .binfo .b-nms h4 { 
        font-size: 20px; 
    }
    .binfo .b-nms h4 small {
        font-size: 14px;
    }
    .binfo .b-nms {
        width: 100%;
        border: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 20px 0;
        margin-top: 30px;
    }
    .binfo .act-infos {
        width: 30%; 
        padding-left: 30px;
    }
    .b-aboutinfo .abinfo-wrp {
        width: 100%;
        margin-top: 20px;
    }
    .b-aboutinfo ul {
        width: 100%; 
    }
    .b-aboutinfo .abinfo-wrp:after { 
        width: 200px; 
    }
    .abinfo-coms h4 .nice-select { 
        margin-left: 20px; 
    }
    .comments-blk { 
        flex-wrap: wrap;
    }
    .cm-arrows { 
        margin-top: 20px;
    }
    .product-detailse-area form button {
        padding: 10px 50px; 
    }
    .product-detailse-area form .labels textarea { 
        height: 100px; 
    }
    .inf-btns { 
        flex-wrap: wrap;
    }
    .inf-btns button { 
        width: 140px; 
        margin-top: 10px;
    }
    .binfo {
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .binfo .img {
        width: 100%;
        text-align: center;
    } 
    .binfo .img img {
        width: 100px;
    }  
    .binfo .act-infos {
        width: 100%;
    }
    .hr-contents h2 { 
        font-size: 28px;
    }
    .hr-contents p { 
        font-size: 18px; 
        margin-top: 5px;
    }
    .hero-all-items .owl-prev,.hero-all-items .owl-next { 
        top: 76%; 
    }
    .binfo img.infoTitleImg {
        top: -15px;
        width: 200px;
    }
    .binfo .b-nms ul {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .binfo .b-nms ul li { 
        font-size: 15px;
        margin-right: 3px; 
    }
    .binfo .act-infos ul li {
        font-size: 16px; 
        margin: 15px 0;
    }
    .b-aboutinfo{
        flex-wrap: wrap;
    }
    .prof-wrps img { 
        width: 100px;
    }
    .prof-wrps span {
        padding: 15px 60px; 
        font-size: 20px; 
        margin-top: 17px;
    }
    .prof-wrps {
        height: 300px; 
    }
    .pods ul { 
        flex-wrap: wrap; 
    }
    .pods ul li {
        width: 129px;  
        margin-top: 10px;
    }
    .pods ul li a {
        font-size: 16px;
        padding: 5px 5px;
    }
    .pods ul li a.gvotes .cm-arrows button {
        margin-left: 15px;
        font-size: 14px; 
        padding: 0px 5px;
        margin-top: -25px;
    }
    .category-area { 
        padding-bottom: 80px;
    }







} 